/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start header */
header{
  background: #1e7799;
color: white;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  font-size: 30px;
}
header .logo span{
  font-size: 35px;
color: #18627e;
}
header .nav{
  display: flex;
  padding: 20px 0;

}
header .nav li{
  transition:0.5s;
  cursor: pointer;
}
header .nav li:hover{
  color: #1e7799;
text-shadow: 1px 0px 5px white;
}
header .social{
  display: flex;
align-items: center;
gap: 20px;
}
header .social li{
  font-size: 20px;
}
/* End Header */
